.footer {
    /* margin: 0 50px; */
    background-color: #f5f5f7;
    padding: 0 220px;
}


/* policy */

.policy {
    padding: 17px 0;
    border-bottom: 1px solid #d2d2d7;
}

.policy .list-term {
    list-style-type: none;
    font-size: 13px;
    text-align: inherit;
    padding: 0;
    line-height: 22px;
    color: #a5a5a9;
}

.list-term .list-line {
    padding-bottom: 7px;
}

.term {
    text-decoration: none;
    color: #515154;
}

.term:hover {
    text-decoration: underline;
    color: #1d1d1f;
}


/* list link  */

.wrapper-list-link {
    display: flex;
    flex-wrap: wrap;
    padding: 17px 0;
}

.list-link {
    flex-basis: 25%;
}

.unit-list-link {
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 13px;
    padding: 0;
}

.headline-list {
    font-size: 12px;
    padding-bottom: 10px;
    color: #1d1e20;
}

.unit-list-link li {
    padding-bottom: 10px;
}

.footer-shop {
    margin-top: 20px;
}

.find-shop {
    font-size: 12px;
    border-bottom: 1px solid #d2d2d7;
    padding: 7px 0;
    color: #a5a5a9;
}

.find-shop .unit-link-shop {
    color: #2c6cc7;
    text-decoration: none;
}

.unit-link-shop:hover {
    text-decoration: underline;
}

.footer-legal-link {
    margin-top: 7px;
    padding-bottom: 30px;
}

.local {
    float: right;
    position: relative;
    top: -2px;
}

.copy-right,
.unit-policy {
    float: left;
}

.copy-right {
    margin-right: 30px;
}

.font-link {
    font-size: 13px;
    color: #a5a5a9;
}

.border-right {
    border-right: 1px solid #a5a5a9;
    margin-top: 7px;
    padding-right: 10px;
    padding-left: 10px;
}

.last-link {
    padding-left: 10px;
}

.unit-policy {
    position: relative;
    top: -2px;
}